src/main/mule/async.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8ad88a99-c2c8-489b-b949-023da772b735" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="asyncFlow" doc:id="fef512ab-ccdc-432e-83f8-414c1f8faa68" >
		<http:listener doc:name="Listener" doc:id="c2c0b41d-cd40-47a8-89fa-5faaa6403a94" config-ref="HTTP_Listener_config" path="/nasyncflow"/>
		<flow-ref doc:name="Flow Reference" doc:id="4d7c25d6-4385-4d28-ad0a-c4ee9b6e387f" name="asyncFlow1"/>
		<logger level="INFO" doc:name="Logger" doc:id="cbf6e5c2-85f8-4e5e-8174-73c57a2fe9db" message='#["parent flow"]'/>
	</flow>
	<flow name="asyncFlow1" doc:id="15816873-bac2-4cb6-8f42-c7db7d6314b7" >
		<ee:transform doc:name="Transform Message" doc:id="48481fec-bb95-4a55-8f16-0ad213bd91b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
{"async":1} wait 2000]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7e2391e8-f8d8-49a5-a80d-b6ef6ef81804" message='#["child flow"]'/>
	</flow>
	<flow name="asyncFlow2" doc:id="82b5d508-afa4-46a5-914d-16ab29dc868e" >
		<http:listener doc:name="Listener" doc:id="affad864-71f5-4be5-ba96-a5e9b37f18de" config-ref="HTTP_Listener_config" path="/asyncflow" />
		<async doc:name="Async" doc:id="4eda3ab7-4e53-42e6-a55b-dd3032678e40" >
			<flow-ref doc:name="Flow Reference" doc:id="f5418541-95de-4dfa-abae-d22fbaeeb628" name="asyncFlow3"/>
		</async>
		<logger level="INFO" doc:name="Logger" doc:id="eb0eb7c2-de15-41e4-ab6e-b0c7cf36277a" message='#["parent flow"]'/>
	</flow>
	<flow name="asyncFlow3" doc:id="4109590a-3f6e-48bb-abcb-67a210b9901d" >
		<ee:transform doc:name="Transform Message" doc:id="8238ce1d-6c6a-42f7-bd4e-f396fc0e7adf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"async":1]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="038f5bf1-7615-4641-8523-7fe539b221ef" message='#["child flow"]'/>
	</flow>
</mule>
